<beans:beans xmlns:beans="http://www.springframework.org/schema/beans"
             xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
             xmlns="http://www.springframework.org/schema/security"
             xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

    <beans:bean class="org.springframework.security.crypto.factory.PasswordEncoderFactories" id="passwordEncoder"
                factory-method="createDelegatingPasswordEncoder"/>

    <http pattern="/rest/**" use-expressions="true" name="restSecurityFilterChain" create-session="stateless">
        <http-basic/>
        <intercept-url pattern="/rest/admin/**" access="hasRole('ROLE_ADMIN')"/>
        <intercept-url pattern="/rest/profile/register" access="isAnonymous()"/>
        <intercept-url pattern="/**" access="isAuthenticated()"/>

        <intercept-url pattern="/rest/dishes/**" method="GET" access="permitAll()"/>
        <intercept-url pattern="/rest/dishes/**" access="hasRole('ROLE_ADMIN')"/>

        <intercept-url pattern="/rest/restaurant/**" method="GET" access="permitAll()"/>
        <intercept-url pattern="/rest/restaurant/**" access="hasRole('ROLE_ADMIN')"/>
        <csrf disabled="true"/>
    </http>

    <authentication-manager>
        <authentication-provider user-service-ref="userService">
            <password-encoder ref="passwordEncoder"/>
        </authentication-provider>
    </authentication-manager>
</beans:beans>